body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100vh; */
  justify-content: center;
}

.mt-5{
  margin-top: 3rem;
}

.mt-4{
  margin-top: 2rem;
}

.game {
  width: 100vw;
  height: 100vw;
  margin: 0 auto;
  background-color: #34495e;
  color: #fff;
  display: grid;
  /* margin-top: 12vh; */
}

.x4 {
  grid-template: repeat(4, 1fr) / repeat(4, 1fr) !important;
}

.x5 {
  grid-template: repeat(5, 1fr) / repeat(5, 1fr) !important;
}

.x6 {
  grid-template: repeat(6, 1fr) / repeat(6, 1fr) !important;
}

.game>div {
  border: 2px solid #2c3e50;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  border: 5px solid #2c3e50;
  background-color: #34495e;
  color: white;
  margin-top: 10px;
  padding: 10px 20px
}

#campo{
  width: 100px;
  margin: .7rem auto;
  padding: .4rem 1rem;
  border: 3px solid #000;
  border-radius: 9px;
}

#campo:focus{
  border-radius: 9px;
  outline: 0;
  outline: none;
}

.d-flex{
  display: flex;
  gap: 10px;
}

.game>div.winner {
  background: yellow;
}

.game>div.winner2 {
  color: blue;
}

.separe {
  height: 16vh;
  background: #2c3e50;
  width: 4px;
}

.label {
  display: block;
  font-size: 2rem;
  margin-top: 2rem;
}

.from-group {
  display: grid;
  column-gap: 5px;
}

.from-group label {
  font-size: 1.1rem;
}

@media (min-width: 600px) {
  .game {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    border: 4px solid #2c3e50;
  }

  .game>div {
    border-radius: 2px;
  }

}

@media (min-width: 1024px) {
  .btn {
    cursor: pointer
  }
}

@media (max-width: 1024px) {
  
}